<!-- edit profile modal -->
<div class="modal fade" id="editProfileModal" data-uid="<%= user._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">
                  <i class="ti-pencil"></i> Chỉnh sửa thông tin cá nhân
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="ti-close"></i>
              </button>
          </div>
          <div class="modal-body">
              <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="true">Thông tin</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">Giới thiệu</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#social-links" role="tab" aria-controls="social-links" aria-selected="false">Mạng xã hội</a>
                  </li>
              </ul>
              <div id="modal-error-update-infor">
                  <!-- <p class="alert-error-update-infor">File upload không được quá 1MB</p>
                  <p class="alert-success-update-infor">Update thành công</p> -->
              </div>
              <div class="tab-content" style="padding-top: 0 !important;">
                  <div class="tab-pane show active" id="personal" role="tabpanel">
                      <form id="form-update-user-info">
                          <div class="form-group">
                              <label for="fullname" class="col-form-label">Tên đầy đủ</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="ti-user"></i>
                                      </span>
                                  </div>
                                  <input type="text" name="username" class="form-control" id="fullname" placeholder="<%= user.username %>">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-form-label">Ảnh đại diện</label>
                              <div class="d-flex align-items-center">
                                  <div>
                                      <figure class="avatar mr-3 item-rtl">
                                          <img id="userAvatar" src="image/userImages/<%= user.avatar %>" class="rounded-circle">
                                      </figure>
                                  </div>
                                  <div class="custom-file">
                                      <input type="file" name="avatar" class="custom-file-input" id="customFile">
                                      <label class="custom-file-label" for="customFile">Chọn ảnh</label>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="city" class="col-form-label">Địa chỉ</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="ti-map-alt"></i>
                                      </span>
                                  </div>
                                  <input placeholder="<% if(user.address !== null){ %><%= user.address %><% } %>" type="text" name="address" class="form-control" id="city">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="phone" class="col-form-label">SĐT</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="ti-mobile"></i>
                                      </span>
                                  </div>
                                  <input type="text" name="phoneNumber" class="form-control" id="phone" placeholder="<% if(user.phoneNumber !== null){%> <%= user.phoneNumber %> <%} %>">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="website" class="col-form-label">Lớp</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                      </span>
                                  </div>
                                  <input type="text" name="class" class="form-control" id="class" placeholder="<% if(user.class !== null){%> <%= user.class %> <%} %>">
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="tab-pane" id="about" role="tabpanel">
                      <form action="">
                          <div class="form-group">
                              <label for="about-text" class="col-form-label">Viết vài từ mô tả bản thân bạn</label>
                              <textarea class="form-control" id="about-text"></textarea>
                          </div>
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" checked="" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Xem hồ sơ</label>
                          </div>
                      </form>
                  </div>
                  <div class="tab-pane" id="social-links" role="tabpanel">
                      <form action="">
                          <div class="form-group">
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text bg-facebook">
                                      <i class="ti-facebook"></i>
                                  </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Link liên kết">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text bg-twitter">
                                      <i class="ti-twitter"></i>
                                  </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Link liên kết">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text bg-instagram">
                                      <i class="ti-instagram"></i>
                                  </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Link liên kết">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text bg-linkedin">
                                      <i class="ti-linkedin"></i>
                                  </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Link liên kết">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text bg-dribbble">
                                      <i class="ti-dribbble"></i>
                                  </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Link liên kết">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text bg-youtube">
                                      <i class="ti-youtube"></i>
                                  </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Link liên kết">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text bg-google">
                                      <i class="ti-google"></i>
                                  </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Link liên kết">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text bg-whatsapp">
                                      <i class="fa fa-whatsapp"></i>
                                  </span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Link liên kết">
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button id="btn-update-user-infor" type="button" class="btn btn-primary">Lưu lại</button>
              <button id="cancel-update-user-infor" type="button" class="btn btn-danger">Hủy bỏ</button>
          </div>
      </div>
  </div>
</div>
<!-- ./ edit profile modal -->