<!-- Friends sidebar -->
<div id="friends" class="sidebar">
  <header>
      <span>Bạn bè</span>
      <ul class="list-inline">
          <li class="list-inline-item">
              <a class="btn btn-light" href="#" data-toggle="modal" data-target="#addFriends">
                  <i class="ti-plus btn-icon"></i> Thêm bạn bè
              </a>
          </li>
          <li class="list-inline-item d-lg-none d-sm-block">
              <a href="#" class="btn btn-light sidebar-close">
                  <i class="ti-close"></i>
              </a>
          </li>
      </ul>
  </header>
  <form action="">
      <input type="text" class="form-control" placeholder="Search chat">
  </form>
  <div class="sidebar-body">
      <ul class="list-group list-group-flush">
          <%if(listFriends.length > 0){%>
            <% listFriends.forEach( friend => { %>
                <li class="list-group-item click-to-chats" data-uid="<%= friend._id %>" style="position: relative" data-type="chat-personal">
                    <div>
                        <figure class="avatar">
                            <img src="image/userImages/<%= friend.avatar %>" class="rounded-circle">
                        </figure>
                    </div>
                    <div class="users-list-body">
                        <h5><%= friend.username %></h5>
                        <p><% if(friend.gender === "Male"){%> Nam <%} else{%> Nữ <%}%></p>
                        <div class="users-list-action action-toggle">
                            <div class="dropdown">
                                <a data-toggle="dropdown" href="#">
                                    <i class="ti-more"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" data-uid="<%= friend._id %>" data-navigation-target="contact-information" class="dropdown-item active">Xem hồ sơ</a>
                                    <a href="#" data-uid="<%= friend._id %>" class="dropdown-item">Thêm vào liên hệ yêu thích</a>
                                    <a href="#" data-uid="<%= friend._id %>" class="dropdown-item">Hủy kết bạn</a>
                                    <a href="#" data-uid="<%= friend._id %>" class="dropdown-item">Chặn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="support-click" style="position: absolute; height: 100%; width: 75%; background-color:rgba(0, 255, 255, 0);"></div>
                </li>
              <% }) %>
          <%}%>
      </ul>
  </div>
</div>
<!-- ./ Friends sidebar -->