<!-- Friends sidebar -->
<div id="list-request-contacts-received" class="sidebar">
    <header>
        <span>Lời mời nhận được</span>
        <ul class="list-inline">
            <li class="list-inline-item d-lg-none d-sm-block">
                <a href="#" class="btn btn-light sidebar-close">
                    <i class="ti-close"></i>
                </a>
            </li>
        </ul>
    </header>
    <div class="sidebar-body">
        <ul class="list-group list-group-flush">
            <% listReqContactReceived.forEach( user =>{ %>
                <li class="list-group-item" data-uid="<%= user._id %>">
                    <div>
                        <figure class="avatar">
                            <img src="image/userImages/<%= user.avatar %>" class="rounded-circle">
                        </figure>
                    </div>
                    <div class="users-list-body">
                        <h5><%= user.username %></h5>
                        <p><% if(user.class === null) {%> Chưa cập nhật thông tin <%} else {%> <%= user.class %> <%} %></p>
                        <div class="users-list-action action-toggle">
                            <div class="dropdown">
                                <a data-toggle="dropdown" href="#">
                                    <i class="ti-more"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" data-uid="<%= user._id %>" class="dropdown-item btn-accept-contact">Chấp nhận</a>
                                    <a href="#" data-uid="<%= user._id %>" data-navigation-target="contact-information" class="dropdown-item active">Xem hồ sơ</a>
                                    <a href="#" data-uid="<%= user._id %>" class="dropdown-item">Nhắn tin</a>
                                    <a href="#" data-uid="<%= user._id %>" class="dropdown-item">Xóa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
  </div>
  <!-- ./ Friends sidebar -->