<!-- Friends sidebar -->
<div id="list-request-contacts-send" class="sidebar">
  <header>
      <span>Lời mời đã gửi</span>
      <ul class="list-inline">
          <li class="list-inline-item d-lg-none d-sm-block">
              <a href="#" class="btn btn-light sidebar-close">
                  <i class="ti-close"></i>
              </a>
          </li>
      </ul>
  </header>
  <div class="sidebar-body">
      <ul class="list-group list-group-flush">
        <% listReqContactSend.forEach(function(user) { %>
            <li class="list-group-item" data-uid="<%= user._id %>"</li>
                <div>
                    <figure class="avatar">
                        <img src="image/userImages/<%= user.avatar %>" class="rounded-circle">
                    </figure>
                </div>
                <div class="users-list-body">
                    <h5><%= user.username %></hh5>
                    <p><%= user.class %></p>
                    <div class="users-list-action action-toggle">
                        <div class="dropdown">
                            <a data-toggle="dropdown" href="#">
                                <i class="ti-more"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item btn-cancel-req-contact" data-uid="<%= user._id %>">Hủy yêu cầu</a>
                                <a href="#" data-navigation-target="contact-information" data-uid="<%= user._id %>" class="dropdown-item active">Xem hồ sơ</a>
                                <a href="#" data-uid="<%= user._id %>" class="dropdown-item">Nhắn tin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        <% }) %>
          
      </ul>
  </div>
</div>
<!-- ./ Friends sidebar -->